{% extends 'authapp/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Поздравляем!</h3>
        <p>Пользователь {{ user.username }} был успешно активирован!</p>
    {% else %}
        <h3>Ошибка!</h3>
        <p>Пользователь не активирован!</p>
    {% endif %}
    <button class="btn btn-link form-control">
        <a href="{% url 'auth:login' %}">войти на сайт</a>
    </button>
    <button class="btn btn-link form-control">
        <a href="{% url 'main' %}">на главную</a>
    </button>
{% endblock %}